

/* CSS Spinner, taken from: https://projects.lukehaas.me/css-spinners/ */
.spinner,
.spinner:before,
.spinner:after {
	background: #343A40;
	animation: load1 1s infinite ease-in-out;
	width: 1em;
	height: 4em;
}
.spinner {
	color: #343A40;
	text-indent: -9999em;
	margin: 88px auto;
	position: relative;
	font-size: 11px;
	transform: translateZ(0);
	animation-delay: -0.16s;
}
.spinner:before,
.spinner:after {
	position: absolute;
	top: 0;
	content: '';
}
.spinner:before {
	left: -1.5em;
	animation-delay: -0.32s;
}
.spinner:after {
	left: 1.5em;
}
@keyframes load1 {
	0%,
	80%,
	100% {
	box-shadow: 0 0;
	height: 4em;
	}
	40% {
	box-shadow: 0 -2em;
	height: 5em;
	}
}
