name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-slim

    strategy:
      matrix:
        node-version: [24.x, 25.x]

    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: npm

    - run: npm ci
    - run: node --run ci
    - run: node --run test
    - run: node --run build
